a {
    color: white !important;
    text-decoration: none !important;
}
$color-white:rgb(255, 255, 255);
$color-black:black;

@mixin center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


//header
header {

    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.logo {

    font-size: 35px;
    font-family: "Dosis";
    color: $color-white;
    font-weight: bold;
    line-height: 2.541;
    text-shadow: 0px 1px 1px rgb(0, 0, 0);

    i {
        padding-right: 10px;
    }
}



.header-menu {

    font-size: 16px;
    font-family: "Dosis";
    color: $color-white;
    font-weight: bold;
    line-height: 2.25;
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
}

li {

    i {
        font-size: 14px;
        font-family: "Dosis";
        color: $color-white;
        font-weight: bold;
        line-height: 2.25;
        padding: 10px;
    }

    a:hover {

        border-bottom: 2px solid $color-white;
        padding-bottom: 6px;

    }
}


//section-slider


.swiper-container {
    background: rgb(78, 195, 145);
    height: 515px;


    border-radius: 0 0 39rem 39rem/7rem;

    h1 {
        font-size: 48px;
        font-family: "Dosis";
        font-weight: 400;
        color: $color-white;
        text-transform: uppercase;
        line-height: 1;
        text-shadow: 0px 1px 1px rgb(0, 0, 0);


    }
}

.carousel-indicators {
    position: relative !important;

    li {
        width: 8px !important;
        border-radius: 50%;
        height: 8px !important;
        background-color: silver !important;
        margin-right: 6px !important;
        margin-left: 6px !important;
    }
}

.circle {

    position: absolute;

    i {
        @include center;
        font-size: 28px;
        color: $color-white;
        border: 4px solid $color-white;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
    }

}

//circle pos
.c1 {
    left: 30.3%;
    top: 39.3%;
}

.c2 {
    left: 23.3%;
    top: 45.3%;
}

.c3 {
    left: 28.3%;
    top: 51.7%;
}

.c4 {
    left: 67.3%;
    top: 38.3%;
}

.c5 {
    left: 71.5%;
    top: 45.5%;
}

.c6 {
    left: 70.3%;
    top: 57.6%;
}

//section-option
.section-option {
    
    .card {
        max-width: 850px;
        margin: auto;
        border: 0px;
    }

    .pl-55 {
        padding-left: 55px;
    }

    .card-title {

        font-size: 39px;
        font-family: "Dosis";
        color: $color-black;
        text-transform: uppercase;
        line-height: 1.202;
    }

    .card-text {

        font-size: 16px;
        font-family: "Dosis";
        color: rgb(94, 94, 94);
        line-height: 1.75;



    }

    .btn-st {
        font-size: 16px;
        font-family: "Dosis";
        color: rgb(65, 65, 65);
        font-weight: bold;
        text-transform: uppercase;
        border: 2px solid rgb(65, 65, 65);
        // width: 27%;
        border-radius: 6px;
    }

    .circle-option {
        i {

            font-size: 60px;
            color: $color-black;
            border: 9px solid $color-black;
            border-radius: 50%;
            height: 120px;
            width: 120px;
            @include center;

        }
    }

    .circle-option-small {
        position: absolute;
opacity: 0.2;
    
    }
    .b1{
        
    left: 9%;
    top: 24%;
    i {

        font-size: 19px;
        color: $color-black;
        border: 3px solid $color-black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        @include center;

    }

    }
    .b2{
        left: 0%;
    top: 58%;
    i {

        font-size: 30px;
        color: $color-black;
        border: 5px solid $color-black;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        @include center;

    }
    }
    .b3{
        left: 75%;
    top: 19%;
    i {

        font-size: 19px;
    color: $color-black;
    border: 3px solid $color-black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
        @include center;

    }
    }
    .b4{
        left: 78%;
        top: 73%;
        i {

            font-size: 19px;
            color: $color-black;
            border: 3px solid $color-black;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            @include center;

        }
    }
    .r1{
        
        left: 9%;
        top: 19%;
        i {
    
            font-size: 19px;
            color: $color-black;
            border: 3px solid $color-black;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            @include center;
    
        }
    
        }
        .r2{
            left: 45%;
            top: -6%;
        i {
    
            font-size: 30px;
            color: $color-black;
            border: 5px solid $color-black;
            border-radius: 50%;
            height: 55px;
            width: 55px;
            @include center;
    
        }
        }
        .r3{
            left: 91%;
            top: 50%;
        i {
    
            font-size: 19px;
        color: $color-black;
        border: 3px solid $color-black;
        border-radius: 50%;
        height: 35px;
        width: 35px;
            @include center;
    
        }
        }
        .r4{
            left: 34%;
            top: 84%;
            i {
    
                font-size: 19px;
                color: $color-black;
                border: 3px solid $color-black;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                @include center;
    
            }
        }
        .r5{
            left: 4%;
    top: 64%;
            i {
    
                font-size: 16px;
                color: $color-black;
                border: 3px solid $color-black;
                border-radius: 50%;
                height: 35px;
                width: 35px;
                @include center;
    
            }
        }
        .r6{
            left: 78%;
            top: 19%;
        
            i {
    
                font-size: 10px;
                color: $color-black;
                border: 3px solid $color-black;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                @include center;
    
            }
        }

}

//section-far


.section-far{
    background: rgb(78, 195, 145);
    .text-num{
        font-size: 30.037px;
        font-family: "Freckle Face";
        color: $color-white;
        line-height: 1.6;
        text-align: center;
        text-shadow: 0px 1px 1px rgb( 0, 0, 0 );
        
     
    }
    .countup-box{
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .countup{
        font-size: 60px;
        font-family: "Dosis";
        color: $color-white;
        line-height: 0.5;
        text-shadow: 0px 1px 1px rgb( 0, 0, 0 );
        display: block;
    }
    .strong{
        font-size: 25px;
        font-family: "Dosis";
        color: $color-white;
        text-shadow: 0px 1px 1px rgb( 0, 0, 0 );
        display: block;
        padding-left: 10px;
    }
    .circle-center{
        @include center;
        color:$color-white;
    }
   
}

.setion-partners{
    .carousel-control-prev,.carousel-control-next{
        border: 2px solid $color-black;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    position: relative;
    margin: 10px;
    
    }
    .carousel-control-prev-icon{
        width: 13px;
        height: 20px;
        color: $color-black;
        width: 10px;
        height: 10px;
        border-left: 3px solid $color-black;
        border-top: 3px solid $color-black;
        transform: rotate(-45deg);
    }
    .carousel-control-next-icon{
        width: 13px;
        height: 20px;
        color: $color-black;
        width: 10px;
        height: 10px;
        border-left: 3px solid $color-black;
        border-top: 3px solid $color-black;
        transform: rotate(135deg);
    }
    .partners-text{
        font-size: 36px;
        font-family: "Dosis";
        color: rgb( 40, 40, 40 );
        line-height: 1.335;
      
    }
    .partner-small-text{
        font-size: 12px;
        font-family: "OpenSans";
        color: rgb( 201, 201, 201 );
        font-style: italic;
        line-height: 2;
    }
    ;
   img{
    height: 128px;
    width: 167px;
   }
    
    
    .flip-card {
        background-color: transparent;
        height: 200px;
        width: 285px;
        perspective: 1000px;
        
      }
      
      .flip-card-inner {
        position: relative;
    
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden !important;
      }
     
      
      
      
      .flip-card-back {
        color: $color-black;
        transform: rotateY(180deg);
        height: 200px;
    width: 285px;
      }
      .flip-text{
        font-size: 14px;
        font-family: "OpenSans";
        color: rgb( 65, 65, 65 );
        font-style: italic;
        line-height: 1.286;
        text-align: left;
       
      }
      
}


  //section-project
.section-project{
    .ml-66{
        margin-left: 66px;
    }
    padding-top: 35px;
    .partners-text{
        font-size: 36px;
        font-family: "Dosis";
        color: rgb( 40, 40, 40 );
        line-height: 1.335;
      
    }
    .btn-progect{
            font-size: 14px;
            font-family: "Dosis";
            color: rgb( 65, 65, 65 );
            font-weight: bold;
            border:2px solid black;
            border-radius: 6px;
            width: 13%;
            &:hover{
                background:black;
                color:$color-white;
            }
         
          
          
    }
    .rectangle{
        background-color: rgb( 188, 188, 196 );
        width: 275px;
        height: 240px;
       
      }
}
// footer
footer{
    padding-top: 58px;
    .logo-foter{
        font-size: 37px;
        font-family: "Dosis";
        color: rgb( 40, 40, 40 );
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2.541;
       
      }
      .foter-text{
     
            font-size: 14px;
            font-family: "OpenSans";
            color: rgb( 40, 40, 40 );
            line-height: 1.714;
           
          
      }
      .border-footer{
          border-top:2px solid silver;
          border-bottom:2px solid silver;
      }
.foter-contact{
    padding-top:40px;
        font-size: 18px;
        font-family: "Dosis";
        color: rgb( 40, 40, 40 );
        font-weight: bold;
       
      
      
}

.foter-nmail{
    font-size: 24px;
    font-family: "OpenSans";
    color: rgb( 40, 40, 40 )!important;
    line-height: 1.667;
    
}
.network{
     i {
        border: 2px solid rgb( 188, 188, 196 );
        @include center;
        font-size: 12px;
        color:  rgb( 188, 188, 196 );
        border-radius: 50%;
        height: 25px;
        width: 25px;
        text-align: center;
      }
      
}
.prava{
    font-size: 14.166px;
    font-family: "Dosis";
    color: rgb( 40, 40, 40 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.541;
    i{
        padding-right: 10px;
    font-size: 20px;
    font-weight: 900;
    }
}
      
.footer-top{
   
        font-size: 14.166px;
        font-family: "Dosis";
        color: rgb( 40, 40, 40 )!important;
        font-weight: bold;
        line-height: 2.541;
      
      
      
}
}

@media screen and(max-width: 640px) {
.pl-55{
    padding-left: 0px!important;
}
.section-far .countup-box {
   display: block;
    text-align: center;
}
.setion-partners img {
    height: 200px;
    width: 310px;
}
.section-project .btn-progect{
    width:100%;
}
.section-project .ml-66 {
    margin-left: 0px;
}
.section-project .rectangle{
    margin: auto;
}
footer{
    .border-footer{
        text-align: center;
    }
    .text-right{
        text-align: center!important;
    }
}

}